.BarraNave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(207, 207, 207);
  padding: 10px 20px;
  height: 50px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.d-logo {
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
}
