@import "tailwindcss";

.book-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.page {
  background: white;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#next {
  margin-top: 0.2em;
  padding: 0.5em 1em;
  width: 6em;
  height: 6em;
}
#prev {
  margin-top: 0.2em;
  padding: 0.5em 1em;
  width: 6em;
  height: 6em;
}

.botNextPrev {
  display: flex;
  gap: 0.3em;
  justify-content: center;
}